GRAPHSCOPE_NEO4J_URI=bolt://localhost:7687
GRAPHSCOPE_NEO4J_USER=neo4j
GRAPHSCOPE_NEO4J_PASSWORD=neo4j
GRAPHSCOPE_DEFAULT_GROUP_ID=
GRAPHSCOPE_CORS_ORIGINS=["http://localhost:5174","http://127.0.0.1:5174"]
GRAPHSCOPE_CACHE_TTL_SECONDS=300
GRAPHSCOPE_SHORTEST_PATH_CUTOFF=6
